.mng{
    text-align: left;
    border:0;
    padding: 10px;
}
.manag{
    text-indent:2px;
    text-align:left;
    border: 0;
    margin-left: 15px;
    padding: 10px;
    width: 80%;
    margin-bottom: 2em;
    font-size: 22px;
}